Flask==2.3.2
Flask-Cors==3.0.10
Flask-SQLAlchemy==3.1.1
psycopg[binary]==3.2.9
python-dotenv==1.0.1
Flask-JWT-Extended==4.6.0
twilio==9.2.3
gunicorn==21.2.0
pydantic>=2.0
requests>=2.31.0
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
url_launcher: ^6.3.0
prometheus-client==0.20.0
